*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.box{
    width: 1170px;
    height: 465px;
    background: yellow;
    position: absolute;
    left:164px;
    top:90px;
    box-shadow:1px 0 10px black;  
    overflow:hidden;
    #imgdata{
        width: 3510px;
        height: 465px;
        background: violet;
        position: absolute;
        left: 0;
        top: 0;
        .imgdata1{
            width: 1170px;
            height: 465px;
            float: left; 
            background-size: 100% 100%;
            background-image: url('../assets/img/home/banner1.jpg');
        }
        .imgdata2{
            width: 1170px;
            height: 465px;
            float: left;
            background-size: 100% 100%;
            background-image: url('../assets/img/home/banner2.jpg'); 
        }      
    }
    .pre{
        width: 30px;
        height: 60px;
        background: tan;
        position: absolute;
        left: 0;
        top:50%;
        margin-top: -30px;
    }
    .active1{
        transform:translateX(-1170px);
    }
    .next{
        width: 30px;
        height: 60px;
        background: tan;
        position: absolute;
        right: 0;
        top:50%;
        margin-top: -30px;
    }
}